h3 {
    text-align: center;
    border-bottom: white 2px solid;
    padding-bottom: 20px;
    font-weight: normal;
}

.app-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tree-container {
    margin: 100px;
    min-width: 340px;
    padding: 0 30px;
    border: white 2px solid;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
}

.button-container {
    display: flex;
    padding: 10px 0;
    justify-content: center;
    border-top: white 2px solid;
}

.button-container > div > button {
    color: white;
    border: 0;
    border-radius: 8px;
    background-color: rgba(63, 68, 72, 0.2);
    margin: 0 10px;
    padding: 9px 24px;
    cursor: pointer;
    transition: 0.5s;
}

.button-container > div > button:hover {
    background-color: rgba(63, 68, 72, 0.5);
}

.tree-container > ul {
    padding-left: 10px;
}

.choose-node {
    background-color: rgba(63, 68, 72, 0.2);
}

.empty-tree {
    text-align: center;
    margin-bottom: 19px;
    color: #656565;
}

.input-node-label {
    width: 100%;
    padding: 0;
    border: 0;
    color: white;
    background-color: rgba(63, 68, 72, 0);
    border-bottom: 1px white solid;
}

.input-node-label:focus {
    outline:none;
    border-bottom: 1px white solid;
    color: white;
}

li > div {
    cursor: pointer;
    transition: 0.5s;
    padding: 5px 10px;
    border-left: 1px solid #262626;
}

li > div:hover{
    background-color: rgba(63, 68, 72, 0.2);
}

li > ul {
    padding-left: 40px;
    border-left: 1px solid #262626;
}